.content h1 {
  margin-bottom: 2rem;
}
h2 {
  text-transform: lovercase;
  font-weight: 300;
  line-height: 1.25;
  text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.3);
  background-color: rgba(147, 192, 136, 0.2);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 3px dashed rgba(147, 192, 136, 0.3);
}
